.container_contato_info {
  border: 1px solid #939598;
  padding: 50px;
  max-width: 500px;
  font-family: Georgia, "Times New Roman", Times, serif;
  align-self: center;
}

.container_contato_info a {
  color: #000;
}

.container_contato_info a:hover {
  color: #f29999;
}
