h3{
display: block;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
text-align: center;
margin-top: 50px;
color:#000;

}

.container_formacao{
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container_menu_info{
    position: fixed;
}
