h3 {
  display: block;
  margin-top: 50px;
  color: #939598;
}

.web_design {
  margin-left: 20px;
}

.container_menu_info {
  position: fixed;
}

.link {
  color: #778899;
}

.link:hover {
  color: #f29999;
}

.container_cursos {
  display: flex;
  flex-wrap: wrap;
}

.container_cursos section {
  padding: 0 100px 0 100px;
  width: 200px;
  flex: 1;
}

.web_design:after {
  display: block;
  content: " ";
  width: 250px;
  border-bottom: 2px solid #939598;
  margin: 10px auto 10px auto;
}

.web_design {
  color: #4f4f4f;
}

li {
  font-size: 14px;
  color: #4f4f4f;
}

b {
  color: #fa7f72;
}
