.container_conteudo{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.container_sobre{
    border: 1px solid #808080;
    padding: 50px;
    max-width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}